html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

a:hover {
  text-decoration: none; }

li {
  list-style: none; }

body {
  direction: ltr; }

header {
  height: 10px; }

.standard-button {
  display: inline-block;
  padding: 20px 50px;
  position: relative;
  color: black;
  overflow: hidden;
  background: none;
  border: none;
  text-transform: uppercase; }

.standard-button:before, .standard-button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.standard-button:after {
  bottom: 0 !important;
  top: auto !important;
  right: -100%;
  left: auto; }

.standard-button:hover:before {
  left: 0; }

.standard-button:hover:after {
  right: 0; }

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: #2f2f2f; }
  header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    header .logo:last-child {
      margin-right: 0; }
    header .logo img {
      width: auto;
      max-height: 100px;
      height: 100%; }
  header nav {
    float: right; }
    header nav ul {
      text-align: center;
      margin: 0;
      padding: 0;
      line-height: 100px; }
      header nav ul a {
        color: white; }
        header nav ul a li {
          display: inline-block;
          padding: 10px 20px;
          line-height: normal;
          text-transform: uppercase; }

body {
  direction: ltr !important;
  margin: 0; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.color-picker {
  position: fixed;
  right: 20px;
  top: 50%;
  background: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 9999999; }

.homepage .slider {
  height: 100vh;
  background: #5e5e5e;
  width: 100%;
  float: left; }
  .homepage .slider .caption {
    width: 50%;
    height: 200px;
    margin: auto;
    margin-top: 40vh;
    text-align: center;
    line-height: 200px;
    color: white; }
  .homepage .slider .scroller {
    margin-top: 30vh;
    text-align: center;
    color: white; }

.homepage .about-us-preview {
  text-align: center; }
  .homepage .about-us-preview h1 {
    text-align: center; }
  .homepage .about-us-preview .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: left; }
    .homepage .about-us-preview .info:last-child {
      margin-right: 0; }
  .homepage .about-us-preview .media {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .homepage .about-us-preview .media:last-child {
      margin-right: 0; }
  .homepage .about-us-preview a button {
    margin-top: 50px; }

.homepage .gallery-portfolio-preview {
  text-align: center; }
  .homepage .gallery-portfolio-preview .grid {
    float: left; }
  .homepage .gallery-portfolio-preview .item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    width: 25%;
    height: 300px; }
    .homepage .gallery-portfolio-preview .item:last-child {
      margin-right: 0; }
    .homepage .gallery-portfolio-preview .item a {
      float: left;
      height: 300px; }
    .homepage .gallery-portfolio-preview .item img {
      object-fit: contain;
      border: 1px solid white; }
  .homepage .gallery-portfolio-preview a button {
    margin-top: 50px; }

.homepage .blog-preview {
  height: 400px;
  width: 100%;
  float: left;
  margin-top: 100px;
  text-align: center;
  background: #5e5e5e;
  color: white; }
  .homepage .blog-preview p {
    padding: 0 10%;
    margin-top: 100px; }
  .homepage .blog-preview a button {
    margin-top: 50px; }

.blog {
  margin-top: 100px; }
  .blog h1 {
    text-align: center;
    margin-bottom: 100px; }
  .blog .latest-news .large {
    width: 50%;
    float: left;
    height: 800px;
    border: 1px solid black; }
    .blog .latest-news .large img {
      width: 100%;
      max-height: 70%;
      object-fit: cover; }
    .blog .latest-news .large .text {
      padding: 20px; }
      .blog .latest-news .large .text h2 {
        text-align: left; }
  .blog .latest-news .big {
    width: 50%;
    float: left;
    height: 400px;
    border: 1px solid black; }
    .blog .latest-news .big img {
      height: 100%;
      width: 50%;
      float: left;
      object-fit: cover; }
    .blog .latest-news .big .text {
      width: 50%;
      float: left;
      padding: 10px; }
      .blog .latest-news .big .text h2 {
        text-align: left; }
  .blog .news {
    float: left;
    clear: both; }
    .blog .news .item {
      border: 1px solid black;
      height: 300px;
      width: 100%;
      float: left; }
      .blog .news .item img {
        float: left;
        width: 50%;
        height: 100%;
        object-fit: cover; }
      .blog .news .item .text {
        width: 50%;
        float: left;
        padding: 10px; }
        .blog .news .item .text h2 {
          text-align: left; }
    .blog .news .item:nth-child(even) img {
      float: right; }
    .blog .news .item:last-of-type {
      margin-bottom: 50px; }
    .blog .news button.load-more {
      display: block;
      margin: auto; }

.about-us {
  margin-top: 150px; }
  .about-us .lead h1 {
    text-align: center; }
  .about-us .lead p {
    padding: 0 10%; }
  .about-us .info-boxes .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    text-align: center;
    padding: 50px; }
    .about-us .info-boxes .box:last-child {
      margin-right: 0; }
  .about-us .team .member {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    padding: 10px;
    text-align: center; }
    .about-us .team .member:last-child {
      margin-right: 0; }
    .about-us .team .member img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: auto; }
  .about-us .testimonials {
    height: 400px;
    width: 100%;
    float: left;
    margin-top: 100px;
    background: #5e5e5e;
    color: white; }
    .about-us .testimonials .single .photo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .about-us .testimonials .single .photo:last-child {
        margin-right: 0; }
      .about-us .testimonials .single .photo img {
        height: 250px;
        width: auto;
        margin-top: 75px; }
    .about-us .testimonials .single .testimonial {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-top: 75px; }
      .about-us .testimonials .single .testimonial:last-child {
        margin-right: 0; }

.gallery {
  margin-top: 150px; }
  .gallery h1 {
    text-align: center;
    margin-bottom: 100px; }
  .gallery nav {
    padding: 10px;
    border: 1px solid black;
    width: 450px;
    margin: auto; }
    .gallery nav ul {
      text-align: center;
      padding: 0; }
      .gallery nav ul a {
        padding: 5px; }
        .gallery nav ul a li {
          display: inline-block; }
  .gallery .wrapper {
    overflow: hidden;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    width: 25%;
    height: 300px; }
    .gallery .wrapper:last-child {
      margin-right: 0; }
    .gallery .wrapper .item {
      width: 100%;
      height: 300px;
      position: relative;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/blank.png");
      background-position: center;
      background-size: cover;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease; }
      .gallery .wrapper .item .caption {
        position: absolute;
        bottom: 100px;
        width: 100%; }
        .gallery .wrapper .item .caption h3,
        .gallery .wrapper .item .caption p {
          text-align: center;
          color: white; }
  .gallery .item:hover {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
    /* IE8 */ }

.contact {
  margin-top: 150px; }
  .contact h1 {
    text-align: center;
    margin-bottom: 100px; }
  .contact .contact-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 100px; }
    .contact .contact-info:last-child {
      margin-right: 0; }
  .contact .contact-form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 100px; }
    .contact .contact-form:last-child {
      margin-right: 0; }
  .contact .contact-map {
    width: 100%;
    float: left;
    height: 400px;
    background: #5e5e5e;
    color: white;
    line-height: 400px;
    text-align: center; }

footer {
  width: 100%;
  height: 200px;
  background: #2f2f2f;
  float: left;
  color: white; }
  footer .left-bar, footer .right-bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .left-bar:last-child, footer .right-bar:last-child {
      margin-right: 0; }
