body {
    direction: ltr !important;
    margin: 0;
}

.container {
    @include outer-container;
}

.color-picker {
    position: fixed;
    right: 20px;
    top: 50%;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 9999999;
}

.homepage {
    .slider {
        height: 100vh;
        background: #5e5e5e;
        width: 100%;
        float: left;
        .caption {
            width: 50%;
            height: 200px;
            margin: auto;
            margin-top: 40vh;
            text-align: center;
            line-height: 200px;
            color: white;
        }
        .scroller {
            margin-top: 30vh;
            text-align: center;
            color: white;
        }
    }
    .about-us-preview {
        text-align: center;
        h1 {
            text-align: center;
        }
        .info {
            @include span-columns(6);
            text-align: left;
        }
        .media {
            @include span-columns(6);
        }
        a {
            button {
                margin-top: 50px;
            }
        }
    }
    .gallery-portfolio-preview {
        text-align: center;
        .grid {
            float: left;
        }
        .item {
            @include span-columns(3);
            @include omega();
            width: 25%;
            height: 300px;
            a {
                float: left;
                height: 300px;
            }
            img {
                object-fit: contain;
                border: 1px solid white;
            }
        }
        a {
            button {
                margin-top: 50px;
            }
        }
    }
    .blog-preview {
        height: 400px;
        width: 100%;
        float: left;
        margin-top: 100px;
        text-align: center;
        background: #5e5e5e;
        color: white;
        p {
            padding: 0 10%;
            margin-top: 100px;
        }
        a {
            button {
                margin-top: 50px;
            }
        }
    }
}

.blog {
    margin-top: 100px;
    h1 {
    	text-align: center;
        margin-bottom: 100px;
    }
    .latest-news {
        .large {
            width: 50%;
            float: left;
            height: 800px;
            border: 1px solid black;
            img {
                width: 100%;
                max-height: 70%;
                object-fit: cover;
            }
            .text {
                padding: 20px;
                h2 {
                    text-align: left;
                }
            }
        }
        .big {
            width: 50%;
            float: left;
            height: 400px;
            border: 1px solid black;
            img {
                height: 100%;
                width: 50%;
                float: left;
                object-fit: cover;
            }
            .text {
                width: 50%;
                float: left;
                padding: 10px;
                h2 {
                    text-align: left;
                }
            }
        }
    }
    .news {
        float: left;
        clear: both;
        .item {
            border: 1px solid black;
            height: 300px;
            width: 100%;
            float: left;
            img {
                float: left;
                width: 50%;
                height: 100%;
                object-fit: cover;
            }
            .text {
                width: 50%;
                float: left;
                padding: 10px;
                h2 {
                    text-align: left;
                }
            }
        }
        .item:nth-child(even) {
            img {
                float: right;
            }
        }
        .item:last-of-type {
            margin-bottom: 50px;
        }
        button.load-more {
            display: block;
            margin: auto;
        }
    }
}

.about-us {
    margin-top: 150px;
    .lead {
        h1 {
            text-align: center;
        }
        p {
            padding: 0 10%;
        }
    }
    .info-boxes {
        .box {
            @include span-columns(4);
            @include omega();
            text-align: center;
            padding: 50px;
        }
    }
    .team {
        .member {
            @include span-columns(3);
            @include omega();
            padding: 10px;
            text-align: center;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: auto;
            }
        }
    }
    .testimonials {
        height: 400px;
        width: 100%;
        float: left;
        margin-top: 100px;
        background: #5e5e5e;
        color: white;
        .single {
            .photo {
                @include span-columns(6);
                img {
                    height: 250px;
                    width: auto;
                    margin-top: 75px;
                }
            }
            .testimonial {
                @include span-columns(6);
                padding-top: 75px;
            }
        }
    }
}

.gallery {
    margin-top: 150px;
    h1 {
    	text-align: center;
    	margin-bottom: 100px;
    }
    nav {
    	padding: 10px;
    	border: 1px solid black;
    	width: 450px;
    	margin: auto;
    	ul {
    		text-align: center;
    		padding: 0;
    		a {
    			padding: 5px;
    			li {
    				display: inline-block;
    			}
    		}
    	}
    }
    .wrapper {
        overflow: hidden;
        @include span-columns(3);
        @include omega();
        width: 25%;
        height: 300px;
        .item {
            width: 100%;
            height: 300px;
            position: relative;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/blank.png');
            background-position: center;
            background-size: cover;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            .caption {
                position: absolute;
                bottom: 100px;
                width: 100%;
                h3,
                p {
                    text-align: center;
                    color: white;
                }
            }
        }
    }
    .item:hover {
        transform: scale(1.3);
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        /* IE 9 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
        /* IE8 */
        .caption {
            h3,
            p {}
        }
    }
}
.contact {
      margin-top: 150px;
    h1 {
        text-align: center;
        margin-bottom: 100px;
    }
    .contact-info {
        @include span-columns(6);
        margin-bottom: 100px;
    }
    .contact-form {
        @include span-columns(6);
         margin-bottom: 100px;
    }
    .contact-map {
       width: 100%;
       float: left;
       height: 400px;
       background: #5e5e5e;
       color: white;
       line-height: 400px;
       text-align: center;
    }
}