header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background: #2f2f2f;

    .logo {
        @include span-columns(3);
        img {
            width: auto;
            max-height: 100px;
            height: 100%;
        }

    }
        nav {
        	float: right;
        	ul {
        		text-align: center;
        		margin: 0;
        		padding: 0;
        		line-height: 100px;
        		a {
        			color: white;
        		li {
        			display: inline-block;
        			padding: 10px 20px;
        			line-height: normal;
        			text-transform: uppercase;
        		}
        	}
        	}
        }
}
