.standard-button {
	 display: inline-block;
  padding: 20px 50px;
  
  position: relative;
   color: black;
  overflow: hidden;
  background: none;
  border: none;
  text-transform: uppercase;
 }

.standard-button:before, .standard-button:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.standard-button:after{
  bottom: 0 !important;
  top: auto !important;
  right: -100%;
  left: auto;
}

.standard-button:hover:before{
  left: 0;
}

.standard-button:hover:after{
  right: 0;
}
